# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script that a user and other users run
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/
cover/

# Translation
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to share your python version
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in git.
#   However, in case of collaboration, if the platform is not the same, Pipfile.lock should ignore.
# Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in git.
# poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in git.
# pdm.lock

# virtualenv
.venv
venv/
ENV/
env/
#   For virtualenv, you might also want to exclude pip-selfcheck.json
pip-selfcheck.json

# Spyder project settings
.spyderproject
.spyproject

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Local data & temporary results
results/
images/
*.png
data_compensated.txt
coarse_align_attitude_curves.png
